<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: sticky; top:0; z-index: 1;">
    <a class="navbar-brand" href="/">
        <img th:src="@{/img/itunes.png}" width="30" height="30" alt="">
    </a>
    <a class="nav-item nav-link" href="/all">All customers</a>
    <a class="nav-item nav-link" href="/add">Add customer</a>
</nav>
<div class="row justify-content-center align-items-center">
    <h1 class="display-3">New customer</h1>
</div>
<div class="row">
    <div class="col-sm-6 offset-3">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <form action="#"   method="post">
                    <div class="form-group">
                        <label for="inputId">Identification code</label>
                        <input type="text" class="form-control" id="inputId"  required />
                        <small id="idHelp" class="form-text text-muted">This must be unique</small>
                    </div>
                    <div class="form-group">
                        <label for="inputCompany">Company name</label>
                        <input type="text" class="form-control" id="inputCompany"  required />
                        <small id="companyHelp" class="form-text text-muted">Who do you work for?</small>
                    </div>
                    <div class="form-group">
                        <label for="inputContact">Contact name</label>
                        <input type="text" class="form-control" id="inputContact"  required />
                        <small id="contactHelp" class="form-text text-muted">What's your name?</small>
                    </div>
                    <div class="form-group">
                        <label for="inputPhone">Phone</label>
                        <input type="text" class="form-control" id="inputPhone"  required />
                        <small id="phoneHelp" class="form-text text-muted">Include your international code (e.g. +47)</small>
                    </div>
                    <button type="submit" class="btn btn-success">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>