<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Itunes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img th:src="@{/img/itunes.png}" width="30" height="30" alt="">
    </a>
    <a class="nav-item nav-link" href="/all">All customers</a>
    <a class="nav-item nav-link" href="/add">Add customer</a>
</nav>
<div style="display: -webkit-box">
<div class="col-sm-4">
    <h1>
        5 Random Songs
    </h1>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th> Song Name </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song: ${randomSongs}">
            <td th:text="${song}"></td>

        </tr>
        </tbody>
    </table>
</div>
<div class="col-sm-4">
    <h1>
        5 Random Artists
    </h1>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th> Artist Name </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="artist: ${randomArtists}">
            <td th:text="${artist}"></td>

        </tr>
        </tbody>
    </table>
</div>
<div class="col-sm-4">
    <h1>
        5 Random Albums
    </h1>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th> Album Title </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="album: ${randomAlbums}">
            <td th:text="${album}"></td>

        </tr>
        </tbody>
    </table>
</div>
</div>
<div th:class="col-sm-12">
<form action="#" th:action="@{/}" style="margin-bottom: 10px;">
    <input type="text" name="keyWord" th:value="${keyWord}">
    <button name="submit" type="submit" value="0">Search</button>
</form>

<table border="1" class = "table table-striped table-responsive-md">
    <thead>
    <tr>
        <th> Track</th>
        <th> Artist</th>
        <th> Album</th>
        <th> Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="record: ${searching}">
        <td th:text="${record.track}"></td>
        <td th:text="${record.artist}"></td>
        <td th:text="${record.album}"></td>
        <td th:text="${record.genre}"></td>
    </tr>
    </tbody>
</table>
</div>



</body>
</html>